- load utils

- for item in data
  tr
    td= item.name
    td= item.query.map
    td
      div(class="{%if item.query.clients.count == item.max_clients%}red{%else%}green{%endif%}")= item.query.clients.count
      |  /
      .red= item.max_clients
    td= item.query.uptime|duration
    td= item.get_game_display
