- load utils

- for item in data
  tr
    td= item.name
    td= item.query.map
    td
      div(class="{%if item.query.clients|length == item.query.limitations.clients%}red{%else%}green{%endif%}")= item.query.clients|length
      |  /
      .red= item.query.limitations.clients
    td= item.query.time.up|duration
    td= item.get_game_display
