- load interface_utils
- load staticfiles

.row.pure-g(style="width:100%")
  input.uuid.hidden(type="hidden", value=data.id)
  input.server.hidden(type="hidden", value=data.server)
  .column.icon.username.pure-u-7-24
    .icon-container.flex.center
      .img__circle__container
        - with 'flags/'|add:data.country.code|lower|add:'.svg' as url
          img(src='{% static url %}')
      .img__circle__container
        img(src="{{ data.avatar }}")
    div.namespace= data.namespace
  .column.icon.server.pure-u-7-24
    i(data-feather="hard-drive")
    span= data.sname
  .column.icon.online.pure-u-7-24
    i(data-feather="clock")
    span= data.otime|timesince
  .column.icon.username.pure-u-3-24
    .spacer
    div
      - if data.online
        svg.feather(width='24', height='24').green.fill
          circle(cx="12", cy="12", r="12", stroke="none")
      - else
        svg.feather(width='24', height='24').red.fill
          circle(cx="12", cy="12", r="12", stroke="none")
    .action
      i(onclick="window.api.submit('kick', this)", data-feather="slash")
