- load i18n
- load staticfiles
- load utils
- load steam

.paginationContent.ct1
  .server.CBox
    .section.group.nomargin.serverOverview
      .col.span_1_of_2.nomargin
        .section.group.nomargin.serverOverview
          .col.span_1_of_2.nomargin.avatar
            img.thumbnail(src="{{data.avatar}}")
          .col.span_1_of_2.nomargin
            h2
              if data.country
                - with "flags/"|add:data.country.code|add:".svg" as url
                  img.country(src='{% static url %}')
              = data.namespace
            p
              i.ion.ion-logo-game-controller-b(style="margin: 0 5px 0 0")
              = games
      .col.span_1_of_2.nomargin
        ul.list
          li
            b SteamID 2:
            .flex.grow
            a.space-before(href="javascript:void(0)", data-trigger="[clip/copy]", data-clipboard-text="{{data.username|as2}}")
              = data.username|as2
              i.ht-ion.ion.ion-ios-copy(style="margin-left:5px")
          li
            b SteamID 3:
            .flex.grow
            a.space-before(href="javascript:void(0)", data-trigger="[clip/copy]", data-clipboard-text="{{data.username|as3}}")
              = data.username|as3
              i.ht-ion.ion.ion-ios-copy(style="margin-left:5px")
          li
            b SteamID64:
            .flex.grow
            a.space-before(href="javascript:void(0)", data-trigger="[clip/copy]", data-clipboard-text="{{data.username}}")
              = data.username
              i.ht-ion.ion.ion-ios-copy(style="margin-left:5px")
          li
            b Steam Level:
            .flex.grow
            span= data.username|level
          li
            b VAC:
            .flex.grow
            span= data.username|vac
          li
            b Created At:
            .flex.grow
            span= data.username|created
  .CBox
    h3 Daily Connections
    .chartContainer.nomargin
      .chart.activity
    script.execute.
      window.style.charts.heatmap('.chart.activity', {{population|safe}})
  .CBox
    h3 Average Connection Time
    .chartContainer.nomargin
      .chart.average.no-vertical
    script.execute.
      window.style.charts.line('.chart.average', {{average.labels|safe}}, {{average.dataset|safe}}, 200, ' hours')
  .CBox.nomargin
    .section.group.nomargin.serverOverview
      .col.span_1_of_2.nomargin
        h2 Personal Data
        p Data is constantly collected from servers and sent to your Hawthorne panel. We display specific user data - like profiles, activity, logs and recorded actions, etc.
      .col.span_1_of_2.nomargin
        ul.list
          li
            b Punishments:
            .flex.grow
            span= data.punishment_set|count
          li
            b Messages:
            .flex.grow
            span= data.serverchat_set|count
          li
            b Most Active Server:
            .flex.grow
            a(href="javascript:void(0)", onclick="window.vc('servers[detailed]', '{{activity.id}}')")
              = activity.name
          li
            span.dummy
            .flex.grow
            span
              a(href="javascript:void(0)", data-trigger="[modal/open]", data-trigger-target="[modal/roles]") View Roles
              a(href="javascript:void(0)", data-trigger="[modal/open]", data-trigger-target="[modal/usernames]", style="margin-left: 6px") View Usernames
              a(href="javascript:void(0)", data-trigger="[modal/open]", data-trigger-target="[modal/ips]", style="margin-left: 6px") View IPs
