.row.pure-g
  .column.icon.username.pure-u-7-24
    span.flag-icon(class="flag-icon-{{data.user.country.code|lower}}")
    img(src=data.user.avatar)
    span= data.user.ingame
  .column.icon.invoker.pure-u-7-24
    i(data-feather="zap")
    span= data.issuer.ingame
  .column.icon.reason.pure-u-7-24
    i(data-feather="paperclip")
    span= data.reason
  .column.icon.pure-u-3-24
    .spacer
    div
      - if data.type == 'MU' or data.type == 'BO'
        i.explicit.red(data-feather="volume-x")
      - else
        i.explicit.gray(data-feather="volume-x")
    div
      - if data.type == 'GA' or data.type == 'BO'
        i.explicit.red(data-feather="message-circle")
      - else
        i.explicit.gray(data-feather="message-circle")

  .column.icon.placeholder.pure-u-7-24
  .column.icon.server.pure-u-7-24
    i(data-feather="hard-drive")
    span= data.server.name
  .column.icon.time.pure-u-7-24
    i(data-feather="clock")
    span
      = data.created_at|date:"d.m.y H:i:s"
      |  -
      = data.created_at|add:data.length|date:"d.m.y H:i:s"
      // 12.17.18 11:13 - 13.17.18 11:13
  .column.icon.pure-u-3-24
    .spacer
    - if perms.core.change_mutegag
      .action
        i(data-feather="edit-2")
    - if perms.core.delete_mutegag
      .action
        i(data-feather="trash-2")
        // i.red(data-feather="trash-2")
