- load i18n
- load staticfiles

.row.pure-g
  input.hidden.user(type='hidden', value=data.user.id)
  input.hidden.punishment(type='hidden', value=data.id)

  if data.server is not None
    input.hidden.server(type='hidden', value=data.server.id)
  else
    input.hidden.server(type='hidden', value="")

  .column.icon.username.pure-u-7-24
    .icon-container.flex.center
      .img__circle__container
        - if data.user.country
          - with 'flags/'|add:data.user.country.code|lower|add:'.svg' as url
            img(src='{% static url %}')
      .img__circle__container
        img(src="{{ data.avatar }}")
    div.namespace= data.user.namespace
  .column.icon.invoker.pure-u-7-24
    i(data-feather="zap")
    span= data.created_by.namespace
  .column.icon.reason.pure-u-7-24
    i(data-feather="paperclip")
    span= data.reason
  .column.icon.modes.pure-u-3-24
    .spacer
    div
      - if data.type == 'MU' or data.type == 'BO'
        i.explicit.gray(data-feather="volume-x", data-type='mute')
      - else
        i.explicit.white(data-feather="volume-x", data-type='mute')
    div
      - if data.type == 'GA' or data.type == 'BO'
        i.explicit.gray(data-feather="message-circle", data-type='gag')
      - else
        i.explicit.white(data-feather="message-circle", data-type='gag')

  .column.icon.placeholder.pure-u-7-24
  .column.icon.server.pure-u-7-24
    i(data-feather="hard-drive")
    if data.server is not None
      span= data.server.name
    else
      span {% trans "all" %}
  .column.icon.time.pure-u-7-24
    i.adjusted(data-feather="clock")
    span(data-timestamp='{{data.created_at|add:data.length|date:"U"}}', data-created='{{data.created_at|date:"U"}}')
      if data.length is not None
        {% blocktrans with until=data.created_at|add:data.length|date:"SHORT_DATETIME_FORMAT" %}until {{until}}{% endblocktrans %}
      else
        i.bpi-unlimited.px24
  .column.icon.pure-u-3-24
    .spacer
    - if perms.core.change_mutegag
      .action
        i(data-feather="edit-2", onclick="window.api.edit('mutegag', this)")
    - if perms.core.delete_mutegag
      .action
        i(data-feather="trash-2", onclick="window.api.remove('mutegag', this)")
