.row.pure-g
  input.hidden.user(type='hidden', value=data.user.id)

  if data.server is not None
    input.hidden.server(type='hidden', value=data.server.id)
  else
    input.hidden.server(type='hidden', value="")

  .column.icon.username.pure-u-7-24
    span.flag-icon(class="flag-icon-{{data.user.country.code|lower}}")
    img(src=data.user.avatar)
    span= data.user.namespace
  .column.icon.invoker.pure-u-7-24
    i(data-feather="zap")
    span= data.created_by.namespace
  .column.icon.reason.pure-u-7-24
    i(data-feather="paperclip")
    span= data.reason
  .column.icon.pure-u-3-24
    .spacer
    div
      - if data.type == 'MU' or data.type == 'BO'
        i.explicit.red(data-feather="volume-x")
      - else
        i.explicit.gray(data-feather="volume-x")
    div
      - if data.type == 'GA' or data.type == 'BO'
        i.explicit.red(data-feather="message-circle")
      - else
        i.explicit.gray(data-feather="message-circle")

  .column.icon.placeholder.pure-u-7-24
  .column.icon.server.pure-u-7-24
    i(data-feather="hard-drive")
    if data.server is not None
      span= data.server.name
    else
      span all
  .column.icon.time.pure-u-7-24
    i(data-feather="clock")
    span
      if data.length is not None
        | until
        = data.created_at|add:data.length|date:"d.m.y H:i:s"
      else
        i.bpi-unlimited.px24
  .column.icon.pure-u-3-24
    .spacer
    - if perms.core.change_mutegag
      .action
        i(data-feather="edit-2")
    - if perms.core.delete_mutegag
      .action
        i(data-feather="trash-2", onclick="window.api.remove('mutegag', this)")
