- extends ajax|yesno:'skeleton/ajax.pug,skeleton/main.pug'

- load i18n
- load staticfiles


- block content
  .item.pure-u-1-1.pure-g
    .row.pure-g
      .column.pure-u-1-4.info-card
        .spacer
        .info
          .data
            i.prefix(data-feather='server')
            span.number=instances|stringformat:"02d"
          .description.bottom
            .spacer
            span.text instances
        .spacer
      .column.pure-u-1-4.info-card
        .spacer
        .info
          .data.flex.center
            i.prefix(data-feather='user')
            span.number=counts.month|stringformat:"02d"
            .appendix.flex.column(class="{% if counts.change < 0 %}red{% else %}green{% endif %}")
              .content.flex.center
                i.explicit.green(data-feather="chevron-up")
                span.msg
                  =counts.change
                  |%
              .spacer
          .description.bottom
            .spacer
            span.text {% trans "current month" %}
        .spacer
      .column.pure-u-1-4.info-card
        .spacer
        .info
          .data.flex.center
            i.prefix(data-feather='user')
            span.number= counts.all|stringformat:"02d"
          .description.bottom
            .spacer
            span.text {% trans "all time" %}
        .spacer
      .column.pure-u-1-4.info-card
        .spacer
        .info
          .data.flex.center
            i.prefix(data-feather='zap')
            span.number= actions|stringformat:"02d"
          .description.bottom
            .spacer
            span.text {% trans "actions performed" %}
        .spacer

    .row.pure-g
      .column.pure-u-1-4.info-card
        .spacer
        .info
          .data.flex.center
            i.prefix(data-feather='users')
            span.number= roles|stringformat:"02d"
          .description.bottom
            .spacer
            span.text {% trans "roles" %}
        .spacer
      .column.pure-u-1-4.info-card
        .spacer
        .info
          .data.flex.center
            i.prefix(data-feather='users')
            span.number= mem_roles|stringformat:"02d"
          .description.bottom
            .spacer
            span.text {% trans "with roles" %}
        .spacer
      .column.pure-u-1-4.info-card
        .spacer
        .info
          .data.flex.center
            i.prefix(data-feather='message-square')
            span.number= messages|stringformat:"02d"
          .description.bottom
            .spacer
            span.text {% trans "messages" %}
        .spacer
      .column.pure-u-1-4.info-card
        .spacer
        .info
          a(href='https://discord.gg/3pNEqn8', target='_blank')
            .data.flex.center
              .spacer
              - include "assets/discord.svg"
            .description.bottom
              span.text(style="color:black") {% trans "our Discord" %}
        .spacer

  .item.pure-u-1-1.pure-u-lg-11-24.second
    .heading {% trans "Instances" %}
    .list#home__instance
    script.execution.
      window.ajax.home.instance(1)

  .spacer
  .item.pure-u-1-1.pure-u-lg-11-24.second
    .heading {% trans "Announcements" %}
    .row.pure-g.inactive
      .column.icon.username.pure-u-24-24
        i.explicit(data-feather="file-text")
        span Occaecat velit quis eiusmod nostrud deserunt id eu deserunt.
      .column.icon.username.pure-u-2-24
      .column.icon.username.pure-u-11-24
        i.explicit(data-feather="hard-drive")
        span Hawthorne
      .column.icon.username.pure-u-11-24
        i.explicit(data-feather="clock")
        span two days ago

    .row.pure-g
      .column.icon.username.pure-u-24-24
        i(data-feather="file-text")
        span Occaecat velit quis eiusmod nostrud deserunt id eu deserunt.
      .column.icon.username.pure-u-2-24
      .column.icon.username.pure-u-11-24
        i(data-feather="hard-drive")
        span 06
      .column.icon.username.pure-u-11-24
        i(data-feather="clock")
        span today @ 12am
