- extends ajax|yesno:'skeleton/ajax.pug,skeleton/main.pug'

- load i18n
- load staticfiles


- block content
  .item.pure-u-1-1.pure-g
    .heading Users
      a.right(href="https://paypal.me/indietyp/5", target="_blank")
        i(data-feather="dollar-sign")
    .row.pure-g
      .column.icon.username.pure-u-7-24
        .icon-container.flex.center
          i(data-feather='database')
        .namespace bilalmahmoud@posteo.de
      .column.icon.username.pure-u-7-24
        i(data-feather='layers')
        span root, admin
      .column.icon.username.pure-u-7-24
        i(data-feather='zap')
        span 75% granted
      .column.icon.pure-u-3-24
        .spacer
        .action
          i(data-feather="mail", onclick="window.api.edit('mutegag', this)")
        .action
          i(data-feather="edit-2", onclick="window.api.edit('mutegag', this)")
        .action
          i(data-feather="trash-2", onclick="window.api.remove('mutegag', this)")
    .row.pure-g
      .column.icon.username.pure-u-7-24
        .icon-container.flex.center
          - include 'assets/steam.svg'
        .namespace indietyp
      .column.icon.username.pure-u-7-24
        i(data-feather='layers')
        span peasant
      .column.icon.username.pure-u-7-24
        i(data-feather='zap')
        span 12% granted
      .column.icon.pure-u-3-24
        .spacer
        .action
          i(data-feather="mail", onclick="window.api.edit('mutegag', this)")
        .action
          i(data-feather="edit-2", onclick="window.api.edit('mutegag', this)")
        .action
          i(data-feather="trash-2", onclick="window.api.remove('mutegag', this)")

    .row.add.pure-g
      .column.icon.pure-u-3-24(onclick="window.style.settings.type(this)")
        i(data-feather='toggle-left')
        span Steam
      .column.icon.username.pure-u-9-24.switch-container
        select#username-input
          option(placeholder) {% trans 'Username' %}
        .input-wrapper(style="width:100%")
          input#inputemail(type='email', placeholder="E-Mail")
          label.adjusted(for='inputemail')
            i.explicit(data-feather='mail')
      .column.icon.group.pure-u-9-24.input-wrapper
        select#group-input
          option(placeholder) {% trans 'Group' %}
      .column.icon.placeholder.pure-u-3-24.input-wrapper
      .column.icon.switch.pure-u-3-24(onclick="window.style.settings.permissions(this)", style="align-items:flex-start")
        i(data-feather='toggle-left')
        span Simple
      .column.icon.perms.pure-u-18-24.flex.center
          - include 'partials/setting/permission.pug' with advanced=advanced simple=simple suffix='user'

          script.execution.
            window.style.settings.init()

      .column.icon.pure-u-3-24(style="align-items:flex-start")
        .spacer
        .action
          i.animated.fancy(onclick="window.api.submit('user', this)", data-feather="plus")
      script.execution.
        var usernameinput = new Choices('#username-input', {
          searchChoices: false,
          searchPlaceholderValue: "{% trans 'Steam Username' %}",
          choices: [],
          noResultsText: "{% trans 'Could not find any user' %}",
          noChoicesText: "{% trans 'Type to search' %}",
          itemSelectText: "{% trans 'Press to select' %}",
          classNames: {
            containerOuter: 'choices focus'
          },
        })

        debounce_search = function(value, input) {
          window.steam.search(value, input);
        }

        var call = debounce(debounce_search, 200);
        usernameinput.passedElement.addEventListener('search', function(event) {
          if (event.detail.value.length > 0) {
            call(event.detail.value, usernameinput);
          }
        }, false);
        window.usernameinput = usernameinput

        var groupinput = new Choices('#group-input', {
          searchEnabled: false,
          choices: [],
          itemSelectText: "{% trans 'Press to select' %}",
        })
        window.groupinput = groupinput
        //- window.api.groups('', groupinput)

  .item.pure-u-1-1.second
    .heading Groups
    .row.pure-g
      .column.icon.username.pure-u-7-24
        i(data-feather='tag')
        span root
      .column.icon.username.pure-u-7-24
        i(data-feather='users')
        span 17 users
      .column.icon.username.pure-u-7-24
        i(data-feather='zap')
        span 100% granted
      .column.icon.pure-u-3-24
        .spacer
        .action
          i(data-feather="edit-2", onclick="window.api.edit('mutegag', this)")
        .action
          i(data-feather="trash-2", onclick="window.api.remove('mutegag', this)")

    .row.add.pure-g
      .column.icon.pure-u-3-24
      .column.icon.username.pure-u-18-24.input-wrapper
        input#inputgroupname(type='text', placeholder="Name")
        label.adjusted(for='inputgroupname')
          i.explicit(data-feather='tag')
      .column.icon.placeholder.pure-u-3-24.input-wrapper
      .column.icon.switch.pure-u-3-24(onclick="window.style.settings.permissions(this)", style="align-items:flex-start")
        i(data-feather='toggle-left')
        span Simple
      .column.icon.perms.pure-u-18-24.flex.center
          - include 'partials/setting/permission.pug' with advanced=advanced simple=simple suffix='group'

          script.execution.
            window.style.settings.init()

      .column.icon.pure-u-3-24(style="align-items:flex-start")
        .spacer
        .action
          i.animated.fancy(onclick="window.api.submit('user', this)", data-feather="plus")

  .item.pure-u-1-1.second
    .heading API Tokens
    .row.pure-g
      .column.icon.username.pure-u-7-24
        i(data-feather='hash')
        span(style="user-select: text") ^7i4H52j3HjVie••••••
        //- {Beh^{
        //- span 6c765c41-17c0-4768-87db-4d040ea8d7c3
      .column.icon.username.pure-u-7-24
        i(data-feather='user')
        span indietyp
      .column.icon.username.pure-u-7-24
        i(data-feather='zap')
        span 100% granted
      .column.icon.pure-u-3-24
        .spacer
        .action
          i(data-feather="copy", onclick="window.api.edit('mutegag', this)")
        .action
          i(data-feather="edit-2", onclick="window.api.edit('mutegag', this)")
        .action
          i(data-feather="trash-2", onclick="window.api.remove('mutegag', this)")

    .row.add.pure-g
      .column.icon.switch.pure-u-3-24(onclick="window.style.settings.permissions(this)", style="align-items:flex-start")
        i(data-feather='toggle-left')
        span Simple
      .column.icon.perms.pure-u-18-24.flex.center
          - include 'partials/setting/permission.pug' with advanced=advanced simple=simple suffix='token'

          script.execution.
            window.style.settings.init()

      .column.icon.pure-u-3-24(style="align-items:flex-start")
        .spacer
        .action
          i.animated.fancy(onclick="window.api.submit('user', this)", data-feather="plus")


  .item.pure-u-1-1.second
    .heading Webhooks
    .row.pure-g
      .column.icon.username.pure-u-24-24
        span coming soon &trade;

  .item.pure-u-1-1.second
    .heading Public Page
    .row.pure-g
      .column.icon.username.pure-u-24-24
        span coming soon &trade;

  .item.pure-u-1-1.second
    .heading Import
    .row.pure-g
      .column.icon.system.pure-u-7-24
        select#system-input
          option(placeholder) {% trans 'System' %}
          option BoomPanel
          option Sourcemod
          option Sourcebans
        script.execution.
          var systeminput = new Choices('#system-input', {
            searchEnabled: false,
            choices: [],
            itemSelectText: "{% trans 'Press to select' %}",
          })
          window.systeminput = systeminput
      .column.icon.system.pure-u-14-24.pure-g
        .permission.center.flex
          .simple.flex.pure-u-1-4.column
            input#importbans(type='checkbox')
            label.center.flex(for='importbans')
              .container
                i.explicit(data-feather='toggle-left')
              div Bans
          .simple.flex.pure-u-1-4.column
            input#importmutegags(type='checkbox')
            label.center.flex(for='importmutegags')
              .container
                i.explicit(data-feather='toggle-left')
              div Mute & Gags
          .simple.flex.pure-u-1-4.column
            input#importadmins(type='checkbox')
            label.center.flex(for='importadmins')
              .container
                i.explicit(data-feather='toggle-left')
              div Admins
          .simple.flex.pure-u-1-4.column
            input#importinstances(type='checkbox')
            label.center.flex(for='importinstances')
              .container
                i.explicit(data-feather='toggle-left')
              div Instances
      .column.icon.boompanel.pure-u-3-24
      .column.icon.boompanel.pure-u-7-24.input-wrapper
        input#inputhostdb(placeholder="Host")
        label.adjusted(for='inputhostdb')
          i.explicit(data-feather='server')
      .column.icon.boompanel.pure-u-7-24.input-wrapper
        input#inputpwddb(placeholder="Password", type="password")
        label.adjusted(for='inputpwddb')
          i.explicit(data-feather='lock')
      .column.icon.boompanel.pure-u-7-24.input-wrapper
        input#inputdbdb(placeholder="Database", type="password")
        label.adjusted(for='inputdbdb')
          i.explicit(data-feather='database')
      .column.icon.boompanel.pure-u-3-24
        .spacer
        .action
          i.animated.fancy(onclick="window.api.submit('user', this)", data-feather="plus")

  .item.pure-u-1-1.second
    .heading Utilities
    .row.pure-g
      .column.icon.pure-u-12-24
        - include 'assets/discord.svg'
        .description
          span.red Not connected
          span.prefix to mainframe
        //- .description
        //-   span.green Connected
        //-   span.prefix to Discord server: blablibu
        //- .description
        //-   span Token for Bot:
        //-   span.prefix.orange 2401ffe9-1025-4884-99c0-761629326a34
      .column.icon.pure-u-12-24
        .spacer
        .description(style='padding-right:1em')
          span.green Connect
          span.prefix to mainframe:
          .top (this action is not reversible)
        .action.flex.center
          i(data-feather="globe")
    .row.pure-g
      .column.icon.username.pure-u-7-24
        i(style="padding-left:6px", data-feather='mail')
        .permission.center.flex
          .simple.spacer
            input#emailtoggle(type='checkbox')
            label.center.flex(for='emailtoggle')
              .container
                i.explicit(data-feather='toggle-left')
              div Alerts
      .column.icon.username.pure-u-7-24.input-wrapper
        input#inputadmin(placeholder="E-Mail")
        label.adjusted(for='inputadmin')
          i.explicit(data-feather='mail')
      .column.icon.username.pure-u-7-24
        select#severity-input
          option(placeholder) {% trans 'Severity' %}
          option Info
          option Warning
          option Error
          option Critical
        script.execution.
          var severityinput = new Choices('#severity-input', {
            searchEnabled: false,
            choices: [],
            itemSelectText: "{% trans 'Press to select' %}",
          })
          window.systeminput = systeminput
      .column.icon.username.pure-u-3-24
        .spacer
        .action
          i(data-feather='save')

    .row.pure-g
      .column.icon.username.pure-u-14-24
        i(style="padding-left:6px", data-feather='activity')
        .permission.center.flex
          .simple.spacer
            input#usagetoggle(type='checkbox')
            label.center.flex(for='usagetoggle')
              .container
                i.explicit(data-feather='toggle-left')
              div Usage Report to Developer
      .column.icon.username.pure-u-7-24
        a(href='https://hawthorne.com', target="_blank") Why and what is the usage report?
      .column.icon.username.pure-u-3-24
        .spacer
        .action
          i(data-feather='save')

  .item.pure-u-1-1.second
    .heading Logs
    .row.pure-g
      .column.icon.username.pure-u-8-24
        a.flex.center(href="/admin/automated_logging/model/")
          span Changelogs:
          i(data-feather="arrow-right-circle")

      .column.icon.username.pure-u-8-24
        a.flex.center(href="/admin/automated_logging/unspecified/")
          span Unspecified:
          i(data-feather="arrow-right-circle")

      .column.icon.username.pure-u-8-24
        a.flex.center(href="/admin/automated_logging/request/")
          span Requests:
          i(data-feather="arrow-right-circle")
