- load i18n

.row.pure-g
  input.hidden.user(type='hidden', value=data.user.id)
  input.hidden.server(type='hidden', value="{{data.server.id|default_if_none:''}}")
  .column.icon.username.pure-u-7-24
    span.flag-icon(class="flag-icon-{{data.user.country.code|lower}}")
    img(src=data.user.avatar)
    span= data.user.namespace
  .column.icon.invoker.pure-u-7-24
    i(data-feather="zap")
    span= data.created_by.namespace
  .column.icon.reason.pure-u-7-24
    i(data-feather="paperclip")
    span= data.reason
  .column.icon.placeholder.pure-u-3-24
  .column.icon.placeholder.pure-u-7-24
  .column.icon.server.pure-u-7-24
    i(data-feather="hard-drive")
    - if data.server is None
      span {% trans "all" %}
    - else
      span= data.server.name
  .column.icon.time.pure-u-7-24
    i.adjusted(data-feather="clock")
    span(data-timestamp='{{data.created_at|add:data.length|date:"U"}}')
      if data.length is not None
        {% blocktrans with until=data.created_at|add:data.length|date:"SHORT_DATETIME_FORMAT" %}
        | until {{until}}
        {% endblocktrans %}
      else
        i.bpi-unlimited.px24

  .column.icon.pure-u-3-24
    .spacer
    - if perms.core.change_ban
      .action
        i(data-feather="edit-2", onclick="window.api.edit('ban', this)")
    - if perms.core.delete_ban
      .action
        i(data-feather="trash-2", onclick="window.api.remove('ban', this)")
