.row.pure-g
  .column.icon.username.pure-u-7-24
    span.flag-icon(class="flag-icon-{{data.user.country.code|lower}}")
    img(src=data.user.avatar)
    span= data.user.ingame
  .column.icon.invoker.pure-u-7-24
    i(data-feather="zap")
    span= data.issuer.ingame
  .column.icon.reason.pure-u-10-24
    i(data-feather="paperclip")
    span= data.user.ingame
  .column.icon.placeholder.pure-u-7-24
  .column.icon.server.pure-u-7-24
    i(data-feather="hard-drive")
    - if data.server is None
      span all
    - else
      span= data.server.name
  .column.icon.time.pure-u-7-24
    i(data-feather="clock")
    span
      = data.created_at|date:"d.m.y H:i:s"
      |  -
      = data.created_at|add:data.length|date:"d.m.y H:i:s"

  .column.icon.pure-u-3-24
    .spacer
    - if perms.core.change_ban
      .action
        i(data-feather="edit-2")
    - if perms.core.delete_ban
      .action
        i.red(data-feather="trash-2")
