- load interface_utils
- load i18n
- load staticfiles

.row.pure-g.userselect_none
  input.hidden.uuid(type='hidden', value=data.id)
  .column.icon.username.pure-u-7-24
    .icon-container.flex.center
      .img__circle__container
        - if data.country
          - with 'flags/'|add:data.country.code|lower|add:'.svg' as url
            img(src='{% static url %}')
      .img__circle__container
        img(src="{{ data.avatar }}")
    div.namespace= data.namespace
  .column.icon.group.pure-u-7-24
    input.hidden.role(type='hidden', value=data.role_id)
    i(data-feather="users")
    span= data.role|truncatechars:18
  .column.icon.server.pure-u-7-24
    i(data-feather="hard-drive")
    - if data.server is None
      span {% trans "all" %}
    - else
      span= data.server|truncatechars:18
  .column.icon.username.pure-u-3-24
    .spacer
    - if not data.is_superuser
      - if perms.core.change_user
        .action
          i.animate.opacity.animated(data-feather="edit-2", onclick="window.api.edit('admin__administrator', this)")
      - if perms.core.delete_user
        .action
          i(data-feather="trash-2", onclick="window.api.remove('admin__administrator', this)")
