- load interface_utils

.row.pure-g
  input.hidden.uuid(type='hidden', value=data.id)
  .column.icon.username.pure-u-7-24
    span.flag-icon(class="flag-icon-{{data.country.code|lower}}")
    img(src="{{ data.avatar }}")
    span= data.namespace|truncatechars:18
  .column.icon.group.pure-u-7-24
    input.hidden.role(type='hidden', value=data.role_id)
    i(data-feather="users")
    span= data.role|truncatechars:18
  .column.icon.server.pure-u-7-24
    i(data-feather="hard-drive")
    - if data.server is None
      span all
    - else
      span= data.server|truncatechars:18
  .column.icon.username.pure-u-3-24
    .spacer
    - if data.role != 'root'
      - if perms.core.modify_user
        .action
          i.animate.opacity.animated(data-feather="edit-2", onclick="window.api.edit('admin__administrator', this)")
      - if perms.core.delete_user
        .action
          i(data-feather="trash-2", onclick="window.api.remove('admin__administrator', this)")
